{{- if eq .chezmoi.os "linux" -}}
# Homebrew for Linux
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end -}}


{{-   include ".zshrc_base" -}}

{{- if eq .chezmoi.os "darwin" -}}
{{-   include ".zshrc_mac" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   include ".zshrc_linux" -}}
{{- end -}}
{{-   include ".zshrc_base_post" -}}

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# WSL-specific code
alias ssh='ssh.exe'
alias ssh-add='ssh-add.exe'
{{   end }}
{{ end }}