{{-   template "git/base" . -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   template "git/darwin" . -}}
{{- else if eq .chezmoi.os "windows" -}}
{{-   template "git/windows" . -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   template "git/linux" . -}}
{{- end -}}
