{{-   include ".gitconfig_base" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   include ".gitconfig_mac" -}}
{{- else if eq .chezmoi.os "windows" -}}
{{-   include ".gitconfig_windows" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   include ".gitconfig_linux" -}}
{{- end -}}


