#!/bin/sh
{{ if eq .chezmoi.os "linux" -}}
{{ if or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu") -}}
# Debian-specific code
sudo apt update

# ZSH
sudo apt install zsh
chsh -s /bin/zsh

# VSCode
{{ if eq (lookPath "code") "" }}
sudo apt-get install wget gpg
wget -qO- https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > packages.microsoft.gpg
sudo install -D -o root -g root -m 644 packages.microsoft.gpg /etc/apt/keyrings/packages.microsoft.gpg
sudo sh -c 'echo "deb [arch=amd64,arm64,armhf signed-by=/etc/apt/keyrings/packages.microsoft.gpg] https://packages.microsoft.com/repos/code stable main" > /etc/apt/sources.list.d/vscode.list'
rm -f packages.microsoft.gpg
sudo apt install apt-transport-https
{{ end }}

#
# Installation Steps
#
sudo apt update
{{ if eq (lookPath "code") "" -}}
sudo apt install code
{{ end -}}

{{ end -}} # debian/ubuntu


{{ if or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "cachyos") -}}
# Arch Linux-specific code
sudo pacman -Syu --noconfirm

# ZSH
sudo pacman -S --needed --noconfirm zsh
chsh -s /usr/bin/zsh

# Install AUR helper (paru or yay) if not present
{{ if and (eq (lookPath "paru") "") (eq (lookPath "yay") "") }}
echo "Installing yay AUR helper..."
cd /tmp
git clone https://aur.archlinux.org/yay.git
cd yay
makepkg -si --noconfirm
cd ~
rm -rf /tmp/yay
{{ end }}

# VSCode
{{ if eq (lookPath "code") "" }}
{{ if ne (lookPath "paru") "" -}}
paru -S --needed --noconfirm visual-studio-code-bin
{{ else -}}
yay -S --needed --noconfirm visual-studio-code-bin
{{ end -}}
{{ end }}

{{ end -}} # arch

{{ if eq .chezmoi.release.id "raspbian" -}}
# Raspberry Specific code
sudo apt update

# ZSH
sudo apt install zsh
chsh -s /bin/zsh

{{ end -}} # Raspberry

{{ end -}} # linux
