{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash

# Homebrew (install if not present, then install all packages)
if test ! $(which brew); then
  echo "Installing homebrew..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

# Update homebrew recipes
brew update

brew bundle --file=BrewfileLinux || true
{{ end -}}
